# Visualisation of the DynAstVO database

In [24]:
import pandas as pd
import numpy as np
import seaborn as sns
from packages.DataCleaner import cleanData

## Cleaning the data file

The raw file contains Optical, Spatial and Radar observations, which are written in the text file using different formats. We need to clean this file in order to work with the data. We split the file into 2 distinct files, suppressing every useless line of data (object header and the position of a satellite in the case of spatial observation)

In [25]:
INPUT_FILE = 'Data\\OMC20200621.txt'
OPTICAL_SPACE_OUTPUT_FILE = 'Data\\OpticalSpaceData.txt'
RADAR_OUTPUT_FILE = 'Data\\RadarData.txt'

cleanData(INPUT_FILE, OPTICAL_SPACE_OUTPUT_FILE, RADAR_OUTPUT_FILE)

2571320it [00:09, 264260.89it/s]

## Reading the data

### Optical and Spatial data

Firstly, we give a name to every column (cf documentation), and we read the file, previously separated according to the type of observation.
We start with the optical and spatial observations together in the same Dataframe because they have the same format.

In [26]:

OScolnames = ['obs Type', 'measure Type', 'year', 'month', 'day', 'RA', 'DEC', 'Obs Code', 'RA bias correction', 'DEC bias correction', 'RA precision', 'DEC precision', 'acceptance', '???', 'mag', 'nbr obs', 'random number', 'RA delta', 'DEC delta', 'xhi square', 'mag acceptance', 'mag delta', 'object number']

OSdata = pd.read_fwf("Data\\OpticalSpaceData.txt", header=None, names=OScolnames)

### Radar Data

We repeat this step for the Radar data, which uses a different format.

In [27]:
RadarColnames = ['obs Type', 'measure Type', 'year', 'month', 'day', 'Distance/Velocity', 'c', 'Obs Code tr', 'Obs Code rc', 'bias correction', 'precision', 'acceptance', 'RA delta', 'xhi square', 'object number']

Rdata = pd.read_fwf('Data\\RadarData.txt', header=None, names=RadarColnames)

## Creating the dataframe

Finally, we need to concatenate the data from those two dataframes so that we have a unique datframe with everything ordered.

In [28]:
vertical_stack = pd.concat([OSdata, Rdata], axis=0)
vertical_stack.head(10)

,obs Type,measure Type,year,month,day,RA,DEC,Obs Code,RA bias correction,DEC bias correction,...,xhi square,mag acceptance,mag delta,object number,Distance/Velocity,c,Obs Code tr,Obs Code rc,bias correction,precision
0,O,A,1983,10,27.04763,338.823750,-57.261472,809,0.0,0.0,...,0.06,NaN,NaN,100004,NaN,NaN,NaN,NaN,NaN,NaN
1,O,A,1983,11,1.41522,333.427500,-57.313333,500,0.0,0.0,...,12.01,1.0,0.45,100004,NaN,NaN,NaN,NaN,NaN,NaN
2,O,A,1983,11,1.48679,333.372500,-57.308333,500,0.0,0.0,...,6.75,NaN,NaN,100004,NaN,NaN,NaN,NaN,NaN,NaN
3,O,A,1983,11,3.43435,331.299417,-57.226111,413,0.0,0.0,...,1.85,1.0,0.47,100004,NaN,NaN,NaN,NaN,NaN,NaN
4,O,A,1983,11,3.44824,331.286625,-57.225583,413,0.0,0.0,...,1.12,NaN,NaN,100004,NaN,NaN,NaN,NaN,NaN,NaN
5,O,A,1983,11,11.47681,321.800250,-56.247722,413,0.0,0.0,...,3.79,NaN,NaN,100004,NaN,NaN,NaN,NaN,NaN,NaN
6,O,A,1983,11,11.49764,321.775167,-56.242750,413,0.0,0.0,...,6.75,NaN,NaN,100004,NaN,NaN,NaN,NaN,NaN,NaN
7,O,A,1984,1,23.55489,235.140500,15.198500,675,0.0,0.0,...,0.69,NaN,NaN,100004,NaN,NaN,NaN,NaN,NaN,NaN
8,O,A,1984,1,29.50347,235.135792,16.081417,675,0.0,0.0,...,2.59,NaN,NaN,100004,NaN,NaN,NaN,NaN,NaN,NaN
9,O,A,1984,1,29.52778,235.135375,16.083722,675,0.0,0.0,...,0.94,NaN,NaN,100004,NaN,NaN,NaN,NaN,NaN,NaN